#p-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    border-radius: 10px;
    max-width: 500px;
    margin: 10vh auto;
    padding: 25px;
    overflow: hidden;
    animation-name: fade;
    animation-duration: 500ms;
}

#p-contacts button {
    max-width: 200px;
    min-height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: large;  
}

#p-contacts a,
#p-contacts p {
    padding: 0;
    margin: 0;
    border: 0;
    text-align: left;
}


