#p-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: 30vh auto;
}

#p-login input[type='radio'],
input[type='checkbox'] {
    margin-left: 0;
    margin-right: 10px;
    border-radius: 10px;
}

#p-login input:not(input[type='radio']):not(input[type='checkbox']),
button {
    display: block;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: large;
    border-radius: 5px;
}