#p-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin: 30vh auto;
}

#p-login input,
#p-login button {
    display: block;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: large;
    border-radius: 5px;
}